/* ال Div عرضه هو 500px
قم بتوسيط ال Div داخل الصفحة بطريقة عرضية
قم بعمل هوامش داخلية قدرها 20px
قم بعمل خلفية لل Div لونها blueviolet
قم بتكرار السطر الخاص بالألوان بكل الطرق التالية [ RGB | HSL | Hex ]
قم بعمل Div آخر تحته بنفس الخلفية ولكن نسبة الشفافية Alpha Channel تكون النصف
قم بعمل Div آخر تحته بنفس الخلفية ولكن نسبة الشفافية Alpha Channel تكون 1 من 10 */
/* div
{
    width: 500px;
    margin: auto;
    padding: 20px;
} */
.assign-1-shape-1{
    background-color:rgba(137, 43, 226, 0) ;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.assign-1-shape-2{
    background-color:#892be263 ;
    width: 500px;
    margin-left: auto;
    margin-right: auto;    padding: 20px;
}
.assign-1-shape-3{
    background-color:rgb(137, 43, 226) ;
    width: 500px;
    margin-left: auto;
    margin-right: auto;    padding: 20px;
}