/* ال Div طوله وعرضه هو 400px
قم بوضع الصورة الموجودة في بداية التكليفات خلفية للعنصر
في Shape 1 قم بجعل الخلفية لا تتكرر نهائيا
في Shape 2 قم بجعل الخلفية تتكرر طوليا فقط
في Shape 3 قم بجعل الخلفية تتكرر عرضيا فقط
في Shape 4 قم بجعل الخلفية تتكرر طوليا وعرضيا */
div
{
    width: 400px;
    height: 400px;
}
.assign-2-shape-1
{
    background-image: url(css-assignment-5-8.png);
    background-repeat: no-repeat;
}
.assign-2-shape-2
{
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-y;
}
.assign-2-shape-3
{
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-x;
}
.assign-2-shape-4
{
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat;
}